<h1>Forfatter Administration</h1>

<div>
  <label>Fornavn</label>
  <input [(ngModel)]="author.firstName">
</div>
<div>
  <label>Mellemnavn</label>
  <input [(ngModel)]="author.middleName">
</div>
<div>
  <label>Efternavn</label>
  <input [(ngModel)]="author.lastName">
</div>
<button (click)="save()">Gem</button>
<button (click)="cancel()">Annuller</button>
<span>{{ message }}</span>

<table>
  <tr>
    <th>Actions</th>
    <th>Fornavn</th>
    <th>Efternavn</th>
  </tr>
  <tr *ngFor="let author of authors">
    <td>
      <button (click)="edit(author)">Ret</button>
      <button (click)="delete(author)">Slet</button>
    </td>
    <td>{{author.firstName}}</td>
    <td>{{author.lastName}}</td>
  </tr>
</table>
