<h1>Bog Administration</h1>
<form>

  <div>
    <label>Titel</label>
    <input #title name="title" [value]="book.title">
  </div>
  <div>
    <label>Sideantal</label>
    <input #pages type="number" name="pages" [value]="book.pages">
  </div>
  <div>
    <label>Billede</label>
    <input #imageFile type="file" name="image" >
  </div>
  <div>
    <label>Forfatter</label>
    <select name="authorId" [value]="book.authorId">
      <option [value]="0" selected disabled>Vælg Forfatter</option>
      <option *ngFor="let author of authors" [value]="author.id">{{ author.firstName}}
        {{ author.middleName}} {{ author.lastName}}</option>
    </select>
  </div>
  <button (click)="save()">Gem</button>
  <button (click)="cancel()">Annuller</button>
  <span>{{ message }}</span>
</form>


<table>
  <tr>
    <th>Actions</th>
    <th>Titel</th>
    <th>Sideantal</th>
  </tr>
  <tr *ngFor="let _book of books" [ngClass]="{'active':_book.id == book.id }">
    <td>
      <button (click)="edit(_book)">Ret</button>
      <button (click)="delete(_book)">Slet</button>
    </td>
    <td>{{ _book.title }}</td>
    <td class="right">{{ _book.pages }}</td>
  </tr>
</table>
