/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.right {
  text-align: right;
}

label {
  width: 120px;
  display: inline-block;
}

table {
  border-collapse: collapse;
}

td,
th {
  padding: 3px;
}

th {
  background: #fff;
}

tr:hover {
  background: #eee;
}


a {
  padding:2px 5px;
  cursor: pointer;
  text-decoration: underline;
}

a:hover {
  color: #000 !important;
  text-decoration: none;
}


a.active-link {
  background-color: #fcc;
}
